<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form method="POST" action="/new">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="msg">Message:</label><br>
      <input type="text" id="msg" name="msg"><br>
      <br>
      <input type="submit" value="Submit">
        
    </form>
 

  </body>
</html>
